@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0c4648;
}

.calculator {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #dfceb9;
    border-radius: 10px;
    border: 5px solid #333333;
    padding: 10px;
    width: 300px;
    height: 500px;
}

.display {
    background-color: #fdfcf3;
    border: 1px solid black;
    border-radius: 10px;
    text-align: right;
    font-size: 30px;
    padding: 10px;
    width: 270px;
    height: 100px;
}

button {
    border-radius: 10px;
    gap: 10px;
    font-size: 20px;
    width: 65px;
    height: 65px;
    background-color: rgba(152, 158, 177, 0.54);
    transition: background-color 0.3s transform 5.0s ease;
}

button:hover {
    background-color: rgba(121, 127, 146, 0.54);
    transform: scale(1.05);
}

.button-clr, .button-del, .button-eql {
    background-color: rgba(215, 97, 68, 1);
}

.button-clr:hover, .button-del:hover, .button-eql:hover {
    background-color: rgb(202, 85, 55);
    transform: scale(1.05);
}

.button-num {
    background-color: rgba(253, 252, 243, 1);
}

.button-num:hover {
    background-color: rgb(230, 230, 230);
    transform: scale(1.05);
}

